<%= nested_form_for(@auto) do |f| %>
  <% if @auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% @auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.hidden_field :latitud, :id => 'input_latitud' %>
  </div>
  <div class="field">
    <%= f.hidden_field :longitud, :id => 'input_longitud' %>
  </div>
  <%= f.fields_for :piezas do |pieza_form| %>
      <%= pieza_form.text_field :nombre %>
      <%= pieza_form.link_to_remove "Eliminar pieza" %>
  <% end %>
  <p><%= f.link_to_add "Añadir una pieza", :piezas %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
// $(function() {
//   var cargarPosicion, showError;
//   console.log("Obteniendo coordenadas");
//   cargarPosicion = function(position) {
//     console.log(position.coords);
//     console.log(position.coords);
//     $('#input_latitud').val(position.coords.latitude);
//     $('#input_longitud').val(position.coords.longitude);
//   };
//   showError = function(error) {
//     switch (error.code) {
//       case error.PERMISSION_DENIED:
//         console.log('El usuario no permitio el acceso a su ubicación del usuario');
//         break;
//       case error.POSITION_UNAVAILABLE:
//         console.log('No ha sido posible cargar la ubicación del usuario');
//         break;
//       case error.TIMEOUT:
//         console.log('Ha transcurrido el tiempo límite para cargar la ubicación del usuario');
//         break;
//       case error.UNKNOWN_ERROR:
//         console.log('Ha ocurrido un error desconocido al cargar la ubicación del usuario');
//     }
//   };
//   if (navigator.geolocation) {
//     return navigator.geolocation.getCurrentPosition(cargarPosicion, showError);
//   } else {
//     return console.log("El navegador no soporta geolocalización :(");
//   }
// });
</script>
