<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @auto.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @auto.modelo %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @auto.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @auto.longitud %>
</p>

<p>
  <strong>Piezas</strong>
  <%= @auto.piezas.count %>
</p>

<!-- <% @auto.piezas.each do | pieza | %> -->
    <!-- <li><%= pieza.nombre %></li> -->
<!-- <% end %> -->

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
