<div class="container">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Marca:</strong>
      <%= @auto.marca %>
    </p>

    <p>
      <strong>Modelo:</strong>
      <%= @auto.modelo %>
    </p>

    <p>
      <strong>Latitud:</strong>
      <%= @auto.latitud %>
    </p>

    <p>
      <strong>Longitud:</strong>
      <%= @auto.longitud %>
    </p>

    <p>
      <strong>Piezas</strong>
      <%= @auto.piezas.count %>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Cantidad</td>
            </tr>
        </thead>
        <tbody>
        <% @auto.piezas.each do | pieza | %>
            <tr>
                <td><%= pieza.nombre %></td>
                <td><%= pieza.cantidad %></td>
            </tr>
        <% end %>
        </tbody>
    </table>

    <%= link_to 'Editar', edit_auto_path(@auto) %> |
    <%= link_to 'Volver', autos_path %>

    <div id="map"></div>

</div>

<script type="text/javascript">
$(function() {
//   var cargarPosicion, showError;
//   console.log("Obteniendo coordenadas");
//   cargarPosicion = function(position) {
//     $('#input_latitud').val(position.coords.latitude);
//     $('#input_longitud').val(position.coords.longitude);
//   };
//   showError = function(error) {
//     switch (error.code) {
//       case error.PERMISSION_DENIED:
//         console.log('El usuario no permitio el acceso a su ubicación del usuario');
//         break;
//       case error.POSITION_UNAVAILABLE:
//         console.log('No ha sido posible cargar la ubicación del usuario');
//         break;
//       case error.TIMEOUT:
//         console.log('Ha transcurrido el tiempo límite para cargar la ubicación del usuario');
//         break;
//       case error.UNKNOWN_ERROR:
//         console.log('Ha ocurrido un error desconocido al cargar la ubicación del usuario');
//     }
//   };
//   if (navigator.geolocation) {
//     return navigator.geolocation.getCurrentPosition(cargarPosicion, showError);
//   } else {
//     return console.log("El navegador no soporta geolocalización :(");
//   }

});
var map;
initMap = function() {
    var latitud = <%= @auto.latitud %>
    var longitud = <%= @auto.longitud %>

    var ubicacionAutoLatLng = {lat: latitud, lng: longitud};

    map = new google.maps.Map(document.getElementById('map'), {
        center: ubicacionAutoLatLng,
        zoom: 14
    });

    var marker = new google.maps.Marker({
        position: ubicacionAutoLatLng,
        map: map,
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFoUlxKUlqWdwfzx8-rTB-9zDYZ3sEuMg&callback=initMap" async defer></script>
